# docker-compose.yaml
services:
  meilisearch:
    # --- НАСТРОЙКИ ЛОГИРОВАНИЯ ---
    logging:
      driver: "json-file"
      options:
        max-size: "10m"   # Максимальный размер файла лога: 10 МБ
        max-file: "3"     # Количество хранимых файлов ротации: 3
    # -----------------------------
    container_name: meilisearch
    image: getmeili/meilisearch:v1.10
    restart: unless-stopped
    environment:
      - MEILI_MASTER_KEY=${MEILISEARCH_MASTER_KEY}
      - MEILI_NO_ANALYTICS=true
    ports:
      - "7701:7700"
    volumes:
      - ./meili_data:/meili_data
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M

  test_host: # this is the name of the service and name of the host (POSTGRES_HOST)
    restart: unless-stopped
    container_name: ${POSTGRES_HOST}
    image: ghcr.io/alexanderjkochnev/postgres:17-alpine
    # image: postgres:17-alpine
    # command: postgres -c max_connections=100 -c shared_buffers=256MB
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${PG_PORT}:${POSTGRES_PORT}"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      # test: [ "CMD-SHELL", "pg_isready", "-h", "localhost", "-p", "${POSTGRES_PORT}", "-U", "${POSTGRES_USER}" ]
      test: |
        sh -c 'pg_isready -h localhost -p ${POSTGRES_PORT} -U ${POSTGRES_USER} -d ${POSTGRES_DB}'
      interval: 10s # 1m30s
      timeout: 10s
      retries: 5
      start_period: 40s
      start_interval: 5s
  
  adminer:
    container_name: test_admin
    image: ghcr.io/alexanderjkochnev/adminer:4.8.1
    # image: adminer:4.8.1
    restart: unless-stopped
    depends_on:
      test_host:
        condition: service_healthy
    environment:
      - ADMINER_PLUGINS=tables-filter enum-option enum-types
      - ADMINER_DESIGN=nette
    ports:
      - "${ADMINER_PORTS}"
  
  test_mongodb:
    image: ghcr.io/alexanderjkochnev/mongo:4.4.20
    container_name: ${MONGO_HOST}
    
    depends_on:
      test_host:
        condition: service_healthy
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
    ports:
      - "${MONGODB_OUTER_PORT}:${MONGODB_PORT}"
    volumes:
      - ./mongodb_data:/data/db
      # - ./mongo/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    command: >
      mongod
      --bind_ip_all
      --wiredTigerCacheSizeGB 0.25
      --storageEngine wiredTiger
      --journalCommitInterval 500
      --syncdelay 300
      --nojournal
    healthcheck:
      test: >
        mongo --username ${MONGO_INITDB_ROOT_USERNAME}
        --password ${MONGO_INITDB_ROOT_PASSWORD}
        --authenticationDatabase admin
        --eval 'db.runCommand("ping").ok'
        localhost:${MONGODB_PORT}/admin --quiet
      # test: echo 'db.runCommand("ping").ok' | mongo localhost:27017/admin --quiet --username admin --password admin
      interval: 10s
      timeout: 10s
      retries: 30
      start_period: 40s
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 1G
        reservations:
          cpus: '0.5'
          memory: 512M
  
  test_mongo-express:
    image: ghcr.io/alexanderjkochnev/mongo-express
    restart: always
    ports:
      - ${OUTER_EXPRESS_PORT}:${MONGO_EXPRESS_PORT}
    environment:
      # Добавляем ?authSource=admin в конец строки
      ME_CONFIG_MONGODB_URL: "mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@${MONGO_HOST}:${MONGODB_PORT}/admin?authSource=admin"
      ME_CONFIG_MONGODB_SERVER: "${MONGO_HOST}"
      ME_CONFIG_MONGODB_PORT: "${MONGODB_PORT}"
      ME_CONFIG_MONGODB_ADMINUSERNAME: "${MONGO_INITDB_ROOT_USERNAME}"
      ME_CONFIG_MONGODB_ADMINPASSWORD: "${MONGO_INITDB_ROOT_PASSWORD}"
      ME_CONFIG_BASICAUTH_USERNAME: "admin" # Логин для входа в сам интерфейс Express
      ME_CONFIG_BASICAUTH_PASSWORD: "${ME_CONFIG_BASICAUTH_PASSWORD}"
    depends_on:
      test_mongodb:
        condition: service_healthy

volumes:
  pg_data: # postgresql data
  mongodb_data:
  meili_data: